body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container{
  width:900px;
  margin:auto;
  margin-top:15%;
  margin-bottom:15%;
  background-color:#4288BE;
  padding-left:10px;
  padding-right:5px;
  padding-top:10px;
  padding-bottom:5px;
  font-family:sans-serif;
  background-image:linear-gradient(#4389BF,#5D3E24)
}

.card
{
  border-radius: 5px;
  background-color : #EEEEEE;
  padding-top:30px;
  padding-left:60px;
  padding-bottom:90px;
}


.pill
{
  border-radius:50px;
  background-color:#D9D8D8;
  color:#7C7C7C;
  width:fit-content;
  padding-left:15px;
  padding-right: 15px;
  padding-top: 2px;
  padding-bottom:2px;
 
}



.photo{
  height:425px;
  width: 400px;
  float:right;
  background-image:url("person3.png");
  background-repeat: no-repeat;
  position:absolute;
  left:550px;
}


.titleText{
  font-size:50px;
  font-weight:200;
  margin:40px 20px 0px 0px;
}



.boldText
{
  font-size:50px;
  font-weight:bold;
  margin:-10px 20px 20px 0px
}


.contentText
{
  width:47%;
  margin:5px 20px 5px 0px;
  color:#7C7C7C;
  font-weight: 100;
  line-height: 25px
}

.italicsText
{
  width:46%;
  margin:5px 20px 50px 0px;
  color:#7C7C7C;
  font-style: italic;
  font-weight:100;
  line-height: 25px
}


.iconsrow
{
  margin-top:40px;
  
}

.icon
{

}

.twitter
{float: left;
  margin:20px;
  margin-left:0px;
  margin-right:35px;
background-image:url("twitter.svg");
background-repeat:no-repeat;
height:20px;
width:20px;

}

.behance
{float: left;
  margin:20px;
  margin-left:0px;
  margin-top:24px;
  margin-right:35px;
  background-image:url("behance.svg");
  background-repeat:no-repeat;
height:20px;
width:20px;

}

.linkedin
{float: left;
  margin:20px;
  margin-left:0px;
  margin-right:35px;
  background-image:url("linkedin.svg");
  background-repeat:no-repeat;
height:20px;
width:20px;

}


.ball
{
  float: left;
  margin:20px;
  margin-left:0px;
  margin-right:35px;
  background-image:url("basketball.svg");
  background-repeat:no-repeat;
height:20px;
width:20px;
}
